<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <ng-template matStepperIcon="edit">
    <i class="fa fa-check"></i>
  </ng-template>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel disabled>{{'EXERCICES.GENERAL_INFORMATION'| translate}}</ng-template>
    <form [formGroup]="firstFormGroup">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.NAME'| translate}}<span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <input type="text" formControlName="name" class="form-control">
          <div *ngIf="errormptyFieldForm1('name')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="invalidDataForm1('name')" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>

      <div class="form-group row" >
        <label class="col-sm-2 col-form-label">{{'EXERCICES.MODULE'| translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right">
            :</p>
        </label>
        <div class="col-sm-10">
          <select name="select" [compareWith]="compareModule" name="module" formControlName="module"
            class="form-control" (change)="onSelectModule()">
           <option value="" disabled selected>{{'COURSE.SELECT_MODULE'|translate}}</option>
            <option *ngFor="let module of listModule" [ngValue]="module">
              {{module.name}}
            </option>
          </select>
          <div *ngIf="errormptyFieldForm1('module')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
         

        </div>
      </div>
      <div class="form-group row" *ngIf="!this.isExam">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.TYPE'| translate}}<span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <select name="select" name="type" formControlName="type" class="form-control" (change)="onSelectType()">
           <option value="" disabled selected>Selectioner un type</option>
            <option value="TD">Td</option>
            <option value="QUIZ">Quiz</option>

          </select>
          <div *ngIf="errormptyFieldForm1('type')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row" *ngIf="this.isExam">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.TYPE'| translate}} <span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <select name="select" name="type" formControlName="type" class="form-control" (change)="onSelectType()">
           <option value="" disabled selected>Selectioner un type</option>
            <option value="EXAM">{{'EXERCICES.EXAM'|translate}}</option>
            <option value="QUIZ">{{'EXERCICES.QUIZ'|translate}}</option>
            <option value="CATCHING_UP">{{'EXERCICES.CATCHING_UP'|translate}}</option>

          </select>
          <div *ngIf="errormptyFieldForm1('type')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row" *ngIf="!this.isExam">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.COURSE'| translate}} <span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <select name="select" [compareWith]="compareModule" name="cour" formControlName="cour" class="form-control">
            <option value="" disabled selected>{{'CHAPTER.SELECT_COURSE'|translate}}</option>
            <option *ngFor="let cour of listCour" [ngValue]="cour">
              {{cour.name}}
            </option>
          </select>
          <div *ngIf="errormptyFieldForm1('cour')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
        </div>
      </div>
      <div *ngIf="firstFormGroup.get('module').value!==null&&firstFormGroup.get('type').value!==''">
      <div class="form-group row" *ngIf="isNotTd">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.START_TIME'| translate}}<span style="margin-left:0.2rem;color: red">*</span> <p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <label class="input-group date m-0">

            <input class="form-control" [min]="minDateTime" [max]="maxDateTime" [disabled]="true" formControlName="startTime" [owlDateTime]="dtStart">

            <span class="input-group-addon bg-default" style="padding: 0.2rem;
            background-color: #0738d8!important;" [owlDateTimeTrigger]="dtStart">
              <span class="icofont icofont-ui-calendar"></span>
            </span>
            <owl-date-time #dtStart></owl-date-time>
          </label>
          <div *ngIf="errormptyFieldForm1('startTime')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
        </div>

      </div>
      <div class="form-group row" *ngIf="isNotTd">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.END_TIME'| translate}} <span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <label class="input-group date m-0">

            <input class="form-control" [disabled]="true" [min]="minEnDatTime()" [max]="maxDateTime" formControlName="endTime" [owlDateTime]="dtEnd">

            <span class="input-group-addon bg-default" style="padding: 0.2rem;
            background-color: #0738d8!important;" [owlDateTimeTrigger]="dtEnd">
              <span class="icofont icofont-ui-calendar"></span>
            </span>
            <owl-date-time #dtEnd></owl-date-time>
          </label>
          <div *ngIf="errormptyFieldForm1('endTime')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
        </div>

      </div>
    </div>



      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light f-left"
        style="margin-right: 15px">
        <i class="fa fa-close"></i>{{'ACTION.CANCEL'| translate}}
      </button>
      <button class="btn btn-primary btn-md waves-effect waves-light f-right" (click)="nextForm1(stepper)">{{'ACTION.NEXT'| translate}}<i
          class="fa fa-chevron-right" style="margin-left: 0.3rem;"></i></button>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel >{{'EXERCICES.QUESTIONS'| translate}}</ng-template>
    <form [formGroup]="secondFormGroup">
      <app-personalize [data]="examOrExercices" [isExam]="isExam" [isClickSave]="isClicNextSecondForm" [exercicesForm]="secondFormGroup" (changeNote)="onChangeNote($event)" (invalidQuestion)="onChangeInvalidQuestion($event)"></app-personalize>
      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light f-light"
        style="margin-right: 15px">
        <i class="fa fa-close"></i>{{'ACTION.CANCEL'| translate}}
      </button>
      <div class="f-right">
        <button type="button" matStepperPrevious class="btn btn-warning btn-md waves-effect waves-light"
          style="margin-right: 15px"><i class="fa fa-chevron-left"></i>{{'ACTION.BACK'| translate}}</button>

        <button class="btn btn-primary btn-md waves-effect waves-light" (click)="nextForm2(stepper)">{{'ACTION.NEXT'| translate}}<i
            class="fa fa-chevron-right" style="margin-left: 0.3rem;"></i></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'EXERCICES.DETAILS'| translate}}</ng-template>
    
    <app-show [exercices]="examOrExercices" ></app-show>
    <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light f-left">
      <i class="fa fa-close"></i>{{'ACTION.CANCEL'| translate}}
    </button>
    <div class="f-right">

      <button type="button" matStepperPrevious class="btn btn-warning btn-md waves-effect waves-light"
        style="margin-right: 15px"><i class="fa fa-chevron-left"></i>{{'ACTION.BACK'| translate}}</button>
        <button type="button" style="margin-right: 20px" (click)="save()"
        class="btn btn-success btn-md waves-effect waves-light">
        <i class="fa fa-check"></i>{{'ACTION.SAVE'| translate}}
      </button>        

     
    </div>
  </mat-step>
</mat-horizontal-stepper>
<notifier-container></notifier-container>