<div class="card">
  <div class="card-header">
    <h5 *ngIf="isEdit">{{'ACTION.UPDATE'|translate}}</h5>
    <h5 *ngIf="!isEdit">{{'ACTION.ADD'|translate}}</h5>

  </div>
  <div class="card-block" style="margin: 1rem;">

    <form [formGroup]="moduleForm" (ngSubmit)="save()">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.NAME'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="text" maxlength="100" formControlName="name" class="form-control">
          <div *ngIf="errormptyField('name')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="invalidData('name')" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.MODULE'|translate}}
          <span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <select name="select" [compareWith]="compareGroup" name="module" formControlName="module" class="form-control">
            <option value="" disabled selected>{{'COURSE.SELECT_MODULE'|translate}}</option>
            <option *ngFor="let module of listModuleName" [ngValue]="module">
              {{module.name}}
            </option>
          </select>
          <div *ngIf="errormptyField('module')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.SESSION'|translate}}
          <span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <select name="select" [compareWith]="compareGroup" name="session" formControlName="session" class="form-control">
            <option value="" disabled selected>{{'MODULE.SELECT_SESSION'|translate}}</option>
            <option *ngFor="let session of listSession" [ngValue]="session">
              {{session.name}}
            </option>
          </select>
          <div *ngIf="errormptyField('session')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.COEFFICIENT'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="coefficient" class="form-control">
          <div *ngIf="errormptyField('coefficient')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Professeur <span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
            :</p></label>
        <div class="col-sm-9">
          <select name="select" [compareWith]="compareOrg" formControlName="prof" class="form-control">
            <option value="" disabled selected>Selectioner un professeur</option>
            <option *ngFor="let user of listProfessor" [ngValue]="user">
              {{user.firstName+' '+user.lastName}}
            </option>
          </select>
          <div *ngIf="errormptyField('prof')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>


        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.GROUP'|translate}}
          <span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <select name="select" [compareWith]="compareGroup" name="group" formControlName="group" class="form-control">
            <option value="" disabled selected>{{'MODULE.SELECT_GROUP'|translate}}</option>
            <option *ngFor="let group of listGroup" [ngValue]="group">
              {{group.name}}
            </option>
          </select>
          <div *ngIf="errormptyField('group')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.SCALE'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="scale" class="form-control" >
          <div *ngIf="errormptyField('scale')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="moduleForm.get('scale').errors?.min" style="color:red">
            {{'MODULE.MIN_5' | translate}}</div>
     

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.PERCENTAGE_ABSENCE'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="percentageAbsence" class="form-control" >
          <div *ngIf="errormptyField('percentageAbsence')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="moduleForm.get('percentageAbsence').errors?.min" style="color:red">
            {{'MODULE.MIN_0' | translate}}</div>
     

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.PERCENTAGE_COUR'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="percentageCour" class="form-control" >
          <div *ngIf="errormptyField('percentageCour')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="moduleForm.get('percentageCour').errors?.min" style="color:red">
            {{'MODULE.MIN_0' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.PERCENTAGE_EXAM'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="percentageExam" class="form-control" >
          <div *ngIf="errormptyField('percentageExam')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="moduleForm.get('percentageExam').errors?.min" style="color:red">
            {{'MODULE.MIN_20' | translate}}</div>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'MODULE.PERCENTAGE_QUIZ'|translate}}<span style="margin-left:0.2rem;color: red">*</span>
          <p class="f-right"> :</p>
        </label>
        <div class="col-sm-9">
          <input type="number" formControlName="percentageQuiz" class="form-control" >
          <div *ngIf="errormptyField('percentageQuiz')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="moduleForm.get('percentageQuiz').errors?.min" style="color:red">
            {{'MODULE.MIN_5' | translate}}</div>


        </div>
      </div>

      <div class="form-group row justify-content-center">
        <button type="button" style="margin-right: 20px" type="submit" [disabled]="isSaved"
          class="btn btn-success btn-md waves-effect waves-light">
          <i class="fa fa-check"></i>{{'ACTION.SAVE'| translate}}
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
          <i class="fa fa-close"></i>{{'ACTION.CANCEL'| translate}}
        </button>
      </div>

    </form>


  </div>
</div>
<notifier-container></notifier-container>