<div class="card client-blocks {{ClassHeaderName}}"  >
  <div class="card-block"  style="min-height: 7rem;">
    <div class="row">
    <h6 class="col-sm-6">{{cardName | translate}}</h6>
    <form *ngIf="isTeacher" class="col-sm-6 p-0" [formGroup]="searchForm">
      <ng-select [items]="listGroup" bindLabel="name" formControlName="group" (clear)="onClear()" (change)="onChangeGroup()"
          placeholder="{{ 'USER.SELECT_GROUP' | translate }}">
      </ng-select>
    </form>
    <form *ngIf="isStudent" class="col-sm-6 p-0" [formGroup]="searchForm">
      <ng-select [items]="listModule" bindLabel="name" formControlName="module" (clear)="onClear()" (change)="onChangeModule()"
          placeholder="{{ 'COURSE.SELECT_MODULE' | translate }}">
      </ng-select>
    </form>
  
  </div>
  <ul >
    <li>
      <i class="{{cardDataIcon}}"></i>
    </li>
    <li class="text-right {{cardDataClass}}" style="margin-left: 1rem;">
      {{cardData}}
    </li>
    <li *ngIf="cardData1" class="text-right {{cardDataClass}}" style="margin-left: 1rem;">
     / {{cardData1}}
    </li>
  </ul>
  </div>
</div>