<div class="card">
  <div class="card-header">
    <h5 >Detail Exam</h5>
   

  </div>
  <div class="card-block" style="margin: 1rem;">


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nom</label>
      <label class="col-sm-9 col-form-label">{{examDetail?.name!=null?examDetail?.name:'---'}}</label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Module</label>
      <label class="col-sm-9 col-form-label">{{examDetail?.module!=null?examDetail?.module.name:'---'}}</label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Questions</label>
      <div class="col-sm-9" >
        <table *ngIf="dataSource!=null && dataSource.length>0 ; else noData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    
          <!-- CodeColumn -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>
          <!-- CodeColumn -->
          <ng-container matColumnDef="correctComment">
            <th mat-header-cell *matHeaderCellDef> CorrectComment </th>
            <td mat-cell *matCellDef="let element">
              {{element.correctComment.length>40?element.correctComment.substring(0,40)+' ...':element.correctComment}}
            </td>
          </ng-container>
        
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-template #noData>
          <label class="col-sm-9 col-form-label" >---</label>
        </ng-template>
        
      </div>
    </div>
    
    <div class="form-group row justify-content-center">
            
      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
        <i class="fa fa-close"></i>Cancel
      </button>
    </div>




  </div>
</div>
