<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search" style="margin-right: 4px;"></i>{{ 'ACTION.SEARCH'  | translate}}</h5>
        <button type="button" class="btn btn-primary btn-md waves-effect waves-light f-right"
            (click)="openDialog(null)"> <i class="fa fa-plus"></i> {{ 'ACTION.ADD'  | translate}}
        </button>
    </div>



    <div class="card-body">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-sm-6 row">
                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.EMAIL'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="email" class="form-control">

                    </div>
                </div>
                <div class="col-sm-6 row">
                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.FIRST_NAME'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="firstName" class="form-control">

                    </div>
                </div>
                <br>
                <div class="col-sm-6 row">

                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.LAST_NAME'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="lastName" class="form-control">

                    </div>

                </div>
                <div class="col-sm-6 row ">

                    <label class="col-sm-3 col-form-label"   style="font-weight: bold;color: #757575;">{{'USER.ORGANIZATION'|translate}}</label>
                    <div class="col-sm-9">
                        <select name="select" [compareWith]="compareLevel" name="organization"
                            formControlName="organization" class="form-control" (change)="onSelectOgra()">
                            <option value="">{{'USER.SELECT_ORGANIZATION'|translate}}</option>
                            <option *ngFor="let organization of listOrganization" [ngValue]="organization">
                                {{organization.name}}
                            </option>
                        </select>
                        

                    </div>

                </div>
                <br>
                <div class="col-sm-6 row">
                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.ROLE'|translate}}</label>
                        <div class="col-sm-9">
                            <select name="select" [compareWith]="compareLevel" name="role" formControlName="role" class="form-control"
                              (change)="onSelectRole()">
                              <option value="">{{'USER.SELECT_ROLE'|translate}}</option>
                              <option *ngFor="let role of listRole" [ngValue]="role">
                                {{role.translated}}
                              </option>
                            </select>
                            
                          </div>
                </div>
                <div class="col-sm-6 row">
                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.BRANCH'|translate}}</label>
                    <div class="col-sm-9">
                        <select name="select" [compareWith]="compareBranch" name="branch" formControlName="branch"
                        class="form-control">
                        <option value="">{{'USER.SELECT_BRANCH'|translate}}</option>
                        <option *ngFor="let branch of listBranch" [ngValue]="branch">
                          {{branch.name}}
                        </option>
                      </select>

                    </div>
                </div>
                <div class="col-sm-6 row">
                    <label class="col-sm-3 col-form-label"
                        style="font-weight: bold;color: #757575;">{{'USER.LEVEL'|translate}}</label>
                    <div class="col-sm-9">
                        <select name="select" [compareWith]="compareLevel" name="level" formControlName="level"
                        class="form-control">
                        <option value="">{{'USER.SELECT_LEVEL'|translate}}</option>
                        <option *ngFor="let level of listLevel" [ngValue]="level">
                          {{level.name}}
                        </option>
                      </select>

                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="form-group row justify-content-center">
                        <button type="button" style="margin-right: 20px" (click)="search(false)"
                            class="btn btn-success btn-md waves-effect waves-light">
                            <i class="fa fa-search"></i>{{ 'ACTION.SEARCH'  | translate}}
                        </button>
                        <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
                            <i class="fa fa-close"></i>{{ 'ACTION.RESET'  | translate}}
                        </button>
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-list m-r-5"></i>{{ 'ACTION.LIST'  | translate}}</h5>
    </div>

    <div class="card-body" style="overflow: auto">

        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.EMAIL'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.email!=null?element.email:'---'}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.FIRST_NAME'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName!=null?element.firstName:'---'}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.LAST_NAME'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName!=null?element.lastName:'---'}} </td>
            </ng-container>
            <ng-container matColumnDef="organization">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.ORGANIZATION'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.organization!=null?element.organization.name:'---'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.ROLE'  | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    {{element.refRole!=null? getRoleName(element.refRole.name):'---'}} </td>
            </ng-container>
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.LEVEL'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.level!=null?element.level.name:'---'}} </td>
            </ng-container>
            <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.BRANCH'  | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.branch!=null?element.branch.name:'---'}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="actions">
                <th class="center-action" mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="center-action" mat-cell *matCellDef="let row">
                    <div class="btn-group btn-group-sm">
                        <button mat-icon-button>
                            <span class="fa fa-desktop" (click)="openDialogDetail(row)" style="color: #007bff"></span>
                        </button>
                        <button mat-icon-button (click)="openDialog(row)">
                            <span class="fa fa-edit" style="color: #007bff"></span>
                        </button>
                        <button mat-icon-button (click)="delete(row)" style="color:red">
                            <span class="icofont icofont-ui-delete tabledit-delete-button "></span>
                        </button>


                    </div>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator (page)="refreshDataTable($event)" [pageSizeOptions]="[5, 10, 20]"
            [length]="resultsLength" [pageSize]="5" showFirstLastButtons></mat-paginator>




    </div>
</div>