.btn {
    text-transform: capitalize;
}

i {
    float: initial;
}

.chart-stat-cont {
    background-color: #25a25a;
}

.text-no-data {
    position: relative;
    margin-top: -61%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    margin-bottom: 10%;
}

.backround-no-data{
    background-color: antiquewhite;
    padding: 10px 100px 10px 100px;
    border-radius: 12px;
    border: 2px solid #f9dfbc;
    
}

a.canvasjs-chart-credit {
    display: none!important;
  }
  