
<div class="row">
  <div class="col-sm-4">
    <app-dash-cards [cardName]="'DASHBOARD.TEACHER.TOTAL_MODULES'" [listGroup]="listGroup" (changeEvent)="onChangeGroupModule($event)"
    [cardData]="(countModule | async) ? (countModule | async) : '0'" [ClassHeaderName]="'card-header-azure'"
    [cardDataIcon]="'icofont icofont-book-mark text-primary'"></app-dash-cards>
  </div>
  <div class="col-sm-4">
    <app-dash-cards [isTeacher]="true" [cardName]="'DASHBOARD.TEACHER.TOTAL_EXAMS'" [listGroup]="listGroup" (changeEvent)="onChangeGroupExam($event)"
    [cardData]="(countExam | async) ? (countExam | async) : '0'" [ClassHeaderName]="'card-header-baby_blue'"
    [cardDataIcon]="'icofont icofont-paper text-primary'"></app-dash-cards>
  </div>
  <div class="col-sm-4">
    <app-dash-cards [isTeacher]="true"  [cardName]="'DASHBOARD.TEACHER.TOTAL_QUIZS'" [listGroup]="listGroup" (changeEvent)="onChangeGroupQuiz($event)"
    [cardData]="(countQuiz | async) ? (countQuiz | async) : '0'" [ClassHeaderName]="'card-header-colbat_blue'"
    [cardDataIcon]="'icofont icofont-paper text-primary'"></app-dash-cards>
  </div>
  <div class="col-sm-4">
    <app-dash-cards [isTeacher]="true" [cardName]="'DASHBOARD.TEACHER.TOTAL_COURSES'" [listGroup]="listGroup" (changeEvent)="onChangeGroupCour($event)"
    [cardData]="(countCour | async) ? (countCour | async) : '0'" [ClassHeaderName]="'card-header-yellow'"
    [cardDataIcon]="'icofont icofont-read-book text-warning'"></app-dash-cards>
  </div>
  <div class="col-sm-4">
    <app-dash-cards  [isTeacher]="true"[cardName]="'DASHBOARD.TEACHER.TOTAL_STUDENTS'" [listGroup]="listGroup" (changeEvent)="onChangeGroupStudent($event)"
    [cardData]="(countStudent | async) ? (countStudent | async) : '0'" [ClassHeaderName]="'card-header-green'"
    [cardDataIcon]="'icofont icofont-student-alt text-success'"></app-dash-cards>
  </div>
  <div class="col-sm-4">
    <app-dash-cards [cardName]="'Total Absence'" style="color: #000;"  [listGroup]="listGroup"
    [cardData]="50" [ClassHeaderName]="'card-header-red'"
    [cardDataIcon]="'icofont icofont-wall-clock text-danger'"></app-dash-cards>
  </div>
  <div class="col-sm-6">
    <app-edit-card [title]="'DASHBOARD.TEACHER.RATE_STUDENTS_BY_EXAM'" >
    <div class="row">
      <label class="col-sm-2 col-form-label"
      style="font-weight: bold;color: #757575;">{{'USER.GROUP'|translate}}<p class="f-right">:</p></label>
      <form class="col-sm-4" [formGroup]="barSearchForm">
        <ng-select [items]="listGroupBar" bindLabel="name" formControlName="group" (clear)="onClearGrouBar()" (change)="onChangeGroupBar()"
            placeholder="{{ 'USER.SELECT_GROUP' | translate }}">
        </ng-select>
      </form>
      <label class="col-sm-2 col-form-label"
      style="font-weight: bold;color: #757575;">Module<p class="f-right">:</p></label>
      <form class="col-sm-4" [formGroup]="barSearchForm">
        <ng-select [items]="listModuleBar" bindLabel="name" formControlName="module" (clear)="onClearModuleBar()" (change)="onChangeModuleBar()"
            placeholder="{{'COURSE.SELECT_MODULE'| translate }}">
        </ng-select>
      </form>
    </div>  
      <div  id="chartContainer" style="height: 20rem;width: 35rem; max-width: 35rem "></div>
      <div *ngIf="!isBarChartExist" class="text-no-data" >
        <span class="backround-no-data">{{'DASHBOARD.NO_DATA_CHART' | translate}}</span>
      </div>
    </app-edit-card>
  
  </div>
  <div class="col-sm-6">
    <app-edit-card [title]="'DASHBOARD.TEACHER.GLOBAL_RATE_STUDENTS'" >
      <div class="row">
        <label class="col-sm-2 col-form-label"
        style="font-weight: bold;color: #757575;">{{'USER.GROUP'|translate}}<p class="f-right">:</p></label>
        <form class="col-sm-4" [formGroup]="pieSearchForm">
          <ng-select [items]="listGroupPie" bindLabel="name" formControlName="group" (clear)="onClearGrouPie()" (change)="onChangeGroupPie()"
              placeholder="{{ 'USER.SELECT_GROUP' | translate }}">
          </ng-select>
        </form>
        <label class="col-sm-2 col-form-label"
        style="font-weight: bold;color: #757575;">Module<p class="f-right">:</p></label>
        <form class="col-sm-4" [formGroup]="pieSearchForm">
          <ng-select [items]="listModulePie" bindLabel="name" formControlName="module" (clear)="onClearModulePie()" (change)="onChangeModulePie()"
              placeholder="{{'COURSE.SELECT_MODULE'| translate }}">
          </ng-select>
        </form>
      </div>  
    <div  id="chartContainer1" style="height: 20rem;width: 35rem; max-width: 35rem"></div>
    <div *ngIf="!isPieChartExist" class="text-no-data" >
      <span class="backround-no-data">{{'DASHBOARD.NO_DATA_CHART' | translate}}</span>
    </div>
  </app-edit-card>
  </div>
  <div class="col-md-12">
    <app-edit-card [title]="'DASHBOARD.FUTURE_EXAM'" >
      <!-- <app-exam-list></app-exam-list> -->
      <app-future-tense-exam  [professor]="user"></app-future-tense-exam>
  </app-edit-card>
  </div>
</div>