<div class="page-body breadcrumb-page">
    <!-- Simple Breadcrumb card start -->
    <app-card>
        <h5>Simple Breadcrumb</h5>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Simple Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Simple Breadcrumb card start -->
    <!-- Caption Breadcrumb card start -->
    <app-card [blockClass]="'caption-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Caption Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Caption Breadcrumb card end -->
    <!-- Bottom Breadcrumb card start -->
    <app-card>
        <div class="breadcrumb-header">
            <h5>Bottom Breadcrumb</h5>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>


    <!-- Bottom Breadcrumb card end -->
    <!-- Without-icon Breadcrumb card start -->
    <app-card [blockClass]="'caption-breadcrumb'">
         <div class="breadcrumb-header">
             <h5>Without Icon Breadcrumb</h5>
             <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
         </div>
         <div class="page-header-breadcrumb">
             <ul class="breadcrumb-title">
                 <li class="breadcrumb-item"><a href="javascript:;">Home</a>
                 </li>
                 <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                 </li>
                 <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                 </li>
             </ul>
         </div>
    </app-card>
    <!-- Without-icon Breadcrumb card start -->
    <!-- Front-icon Breadcrumb card start -->
    <app-card [blockClass]="'front-icon-breadcrumb'">
        <div class="breadcrumb-header">
            <div class="big-icon">
                <i class="icofont icofont-home"></i>
            </div>
            <div class="d-inline-block">
                <h5>Front Icon Breadcrumb</h5>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </div>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item"><a href="javascript:;">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Front-icon Breadcrumb card end -->
    <h4 class="m-b-30">Color Varients</h4>
    <!-- Primary-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'primary-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Primary Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Primary-color Breadcrumb card end -->
    <!-- Inverse-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'inverse-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Inverse Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Inverse-color Breadcrumb card end -->
    <!-- Danger-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'danger-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Danger Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Danger-color Breadcrumb card end -->
    <!-- Info-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'info-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Info Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Info-color Breadcrumb card end -->
    <!-- Warning-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'warning-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Warning Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Warning-color Breadcrumb card end -->
    <!-- Success-color Breadcrumb card start -->
    <app-card [cardClass]="'borderless-card'" [blockClass]="'success-breadcrumb'">
        <div class="breadcrumb-header">
            <h5>Success Color Breadcrumb</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="javascript:;">Caption Breadcrumb</a>
                </li>
            </ul>
        </div>
    </app-card>
    <!-- Success-color Breadcrumb card end -->
</div>