<div class="card" *ngIf="!isFromParent">
  <div class="card-header">
    <h5><i class="fa fa-search" style="margin-right: 4px;"></i>Rechercher</h5>
    <button type="button" class="btn btn-primary btn-md waves-effect waves-light f-right" (click)="openDialog(null)"> <i
        class="fa fa-plus"></i> Ajouter
    </button>
  </div>



  <div class="card-body">
    <form [formGroup]="questionForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Nom</label>
            <div class="col-sm-9">
              <input type="text" formControlName="name" class="form-control">

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Code</label>
            <div class="col-sm-9">
              <input type="text" formControlName="code" class="form-control">

            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 ">
          <div class="form-group row justify-content-center">
            <button type="button" style="margin-right: 20px" (click)="search(false)"
              class="btn btn-success btn-md waves-effect waves-light">
              <i class="fa fa-search"></i>Rechercher
            </button>
            <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
              <i class="fa fa-close"></i>Réinitialiser
            </button>
          </div>

        </div>
      </div>

    </form>

  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row">
      <h5 class="col-sm-2 " style="margin:0;margin-top:0.5rem"><i class="fa fa-list m-r-5"></i>Questions</h5>
      <div class="col-sm-10" *ngIf="isFromParent">
        <form [formGroup]="questionForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Nom</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="name" class="form-control">

                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="row">
                <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Code</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="code" class="form-control">

                </div>
              </div>
            </div>

            <div class="form-group col-sm-4 row justify-content-center">
              <button type="button" style="margin-right: 20px" (click)="search(false)"
                class="btn btn-success btn-md waves-effect waves-light">
                <i class="fa fa-search"></i>Rechercher
              </button>
              <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
                <i class="fa fa-close"></i>Réinitialiser
              </button>
            </div>

          </div>
          <br>


        </form>
      </div>
    </div>
  </div>

  <div class="card-body" style="overflow: auto">

    <table mat-table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container *ngIf="isFromParent" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox> -->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change) ="$event.checked ? checked(row) : unChecked(row)"
          [checked] ="isChecked(row)"  >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element?.name!=null?element?.name:'---'}} </td>
      </ng-container>

      <!-- CodeColumn -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element?.code!=null?element?.code:'---'}} </td>
      </ng-container>
      <!-- CodeColumn -->
      <ng-container matColumnDef="correctComment">
        <th mat-header-cell *matHeaderCellDef> CorrectComment </th>
        <td mat-cell *matCellDef="let element">
          {{element.correctComment!=null?element.correctComment?.length>60?element.correctComment.substring(0,60)+' ...':element.correctComment:'---'}}
        </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container *ngIf="!isFromParent" matColumnDef="actions">
        <th class="center-action" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="center-action" mat-cell *matCellDef="let row">
          <div class="btn-group btn-group-sm">
            <button mat-icon-button>
              <span class="fa fa-desktop" (click)="openDialogDetail(row)" style="color: #007bff"></span>
            </button>
            <button mat-icon-button (click)="openDialog(row)">
              <span class="fa fa-edit" style="color: #007bff"></span>
            </button>
            <button mat-icon-button (click)="delete(row)" style="color:red">
              <span class="icofont icofont-ui-delete tabledit-delete-button "></span>
            </button>


          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator (page)="refreshDataTable($event)" [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength"
      [pageSize]="5" showFirstLastButtons></mat-paginator>




  </div>
</div>