<div class="row">
  <div class="col-md-12">
    <!-- round card start -->
    <app-card [title]="'Round cards'">
        <div class="row users-card">
          <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
              <div class="card-body">
                <div class="img-hover">
                  <img class="img-fluid img-circle" src="assets/images/user-card/img-round1.jpg" alt="round-img">
                  <div class="img-overlay">
                    <span>
                      <a href="javascript:;" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                      <a href="javascript:;" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                    </span>
                  </div>
                </div>
                <div class="user-content">
                  <h4 class="">Cedric Kelly</h4>
                  <h5 class="">Network engineer</h5>
                </div>
                <ul class="icons-list mt-15">
                  <li><a href="javascript:;" data-popup="tooltip" data-original-title="Google Drive"><i class="icon-google-drive"></i></a></li>
                  <li><a href="javascript:;" data-popup="tooltip" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                  <li><a href="javascript:;" data-popup="tooltip" data-original-title="Github"><i class="icon-github"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
              <div class="card-body">
                <div class="img-hover">
                  <img class="img-fluid img-circle" src="assets/images/user-card/img-round2.jpg" alt="round-img">
                  <div class="img-overlay">
                    <span>
                      <a href="javascript:;" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                      <a href="javascript:;" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                    </span>
                  </div>
                </div>
                <div class="user-content">
                  <h4 class="">Howard Hatfield</h4>
                  <h5 class="">UX/UI designer</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
              <div class="card-body">
                <div class="img-hover">
                  <img class="img-fluid img-circle" src="assets/images/user-card/img-round3.jpg" alt="round-img">
                  <div class="img-overlay">
                      <span>
                          <a href="javascript:;" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                          <a href="javascript:;" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                      </span>
                  </div>
                </div>
                <div class="user-content">
                  <h4 class="">Jenette Caldwell</h4>
                  <h5 class="">SEO specialist</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
              <div class="card-body">
                <div class="img-hover">
                  <img class="img-fluid img-circle" src="assets/images/user-card/img-round4.jpg" alt="round-img">
                  <div class="img-overlay">
                      <span>
                          <a href="javascript:;" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                          <a href="javascript:;" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                      </span>
                  </div>
                </div>
                <div class="user-content">
                  <h4 class="">Hermione Butler</h4>
                  <h5 class="">Chief officer</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </app-card>
    <!-- Round card end -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Inverse Image Caps card start -->
      <app-card [title]="'Inverse image caps'">
        <div class="row users-card">
          <div class="col-lg-6">
            <div class="card user-card">
              <img class="img-fluid" src="assets/images/user-card/inverse-img1.jpg" alt="img-inverse">
              <div class="top-cap-text">
                <h4>Top Image Cap</h4>
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card user-card">
              <div class="top-cap-text">
                <h4>Botttom Image Cap</h4>
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
              </div>
              <img class="img-fluid" src="assets/images/user-card/inverse-img2.jpg" alt="img-inverse">
            </div>
          </div>
        </div>
        <!-- end of row -->
      </app-card>
    <!-- Inverse Image Caps card end -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Simple card start -->
      <app-card [title]="'Simple Cards'" [cardClass]="'simple-cards'">
        <div class="row users-card">
          <div class="col-lg-12 col-xl-4">
            <div class="card user-card">
              <div class="card-header-img">
                <img class="img-fluid img-circle" src="assets/images/user-card/card/card-img1.jpg" alt="card-img">
                <h4>Michelle House</h4>
                <h5>abc123@domain.com</h5>
                <h6>Systems Administrator</h6>
              </div>
              <div class="btn-group" role="group" aria-label="user-cards">
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bell-alt card-icon"></i>
                                                    <span>10</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-heart card-icon"></i>
                                                    <span>15</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bag-alt card-icon"></i>
                                                    <span>7</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-ui-message card-icon"></i>
                                                    <span>80</span>
                                                    </span>
                </button>

              </div>
              <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
              <div>
                <button type="button" class="btn btn-primary btn-outline-primary waves-effect waves-light m-b-10 m-r-15"><i class="icofont icofont-plus m-r-5"></i>Follow</button>
                <button type="button" class="btn btn-success btn-outline-success waves-effect waves-light m-b-10"><i class="icofont icofont-user m-r-5"></i>Profile</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-4">
            <div class="card user-card">
              <div class="card-header-img">
                <img class="img-fluid img-circle" src="assets/images/user-card/card/card-img2.jpg" alt="card-img">
                <h4>Cara Stevens</h4>
                <h5>abc123@domain.com</h5>
                <h6>Sales Assistant</h6>
              </div>
              <div class="btn-group" role="group" aria-label="user-cards">
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bell-alt card-icon"></i>
                                                    <span>10</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-heart card-icon"></i>
                                                    <span>15</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bag-alt card-icon"></i>
                                                    <span>7</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-ui-message card-icon"></i>
                                                    <span>80</span>
                                                    </span>
                </button>

              </div>
              <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
              <div>
                <button type="button" class="btn btn-primary btn-outline-primary waves-effect waves-light m-b-10 m-r-15"><i class="icofont icofont-plus m-r-5"></i>Follow</button>
                <button type="button" class="btn btn-success btn-outline-success waves-effect waves-light m-b-10"><i class="icofont icofont-user m-r-5"></i>Profile</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-4">
            <div class="card user-card">
              <div class="card-header-img">
                <img class="img-fluid img-circle" src="assets/images/user-card/card/card-img3.jpg" alt="card-img">
                <h4>Cedric Kelly</h4>
                <h5>abc123@domain.com</h5>
                <h6>Integration Specialist</h6>
              </div>
              <div class="btn-group" role="group" aria-label="user-cards">
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bell-alt card-icon"></i>
                                                    <span>10</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-heart card-icon"></i>
                                                    <span>15</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-bag-alt card-icon"></i>
                                                    <span>7</span>
                                                    </span>
                </button>
                <button type="button" class="btn btn-float box-shadow-0 btn-outline-primary">
                                                    <span class="ladda-label">
                                                    <i class="icofont icofont-ui-message card-icon"></i>
                                                    <span>80</span>
                                                    </span>
                </button>

              </div>
              <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
              <div>
                <button type="button" class="btn btn-primary btn-outline-primary waves-effect waves-light m-b-10 m-r-15"><i class="icofont icofont-plus m-r-5"></i>Follow</button>
                <button type="button" class="btn btn-success btn-outline-success waves-effect waves-light m-b-10"><i class="icofont icofont-user m-r-5"></i>Profile</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row -->
      </app-card>
    <!-- Simple card end -->
  </div>
</div>