<div class="card">
  <div class="card-header">
      <h5 *ngIf="isEdit">Modification Td</h5>
      <h5 *ngIf="!isEdit">Ajout Td</h5>
      
  </div>
  <div class="card-block" style="margin: 1rem;">
      
      <form  [formGroup]="tdForm" (ngSubmit)="save()">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nom</label>
              <div class="col-sm-10">
                  <input type="text" formControlName="name" class="form-control">
              </div>
          </div>
      
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Cour</label>
          <div class="col-sm-10">
            <select name="select" [compareWith]="compareCour" name="cour"  formControlName="cour" class="form-control">
              <option value="opt1">Selectioner un cour</option>
              <option *ngFor="let cour of listCour" [ngValue]="cour" >
                {{cour.name}}  
              </option>
            </select>

            <!-- <ng-select 
             [items]="listCour" [multiple]="false" bindLabel="name"
             formControlName="cour">
            <ng-template ng-option-tmp let-item="item">
                {{item.name}}
            </ng-template>
        </ng-select> -->
          </div>
      </div>
      <app-question-list [isFromParent]="true" [questionsParent]="parentQuestions" (questionSelect)='getQuestionsOutPut($event)'></app-question-list>
      <div class="form-group row justify-content-center">
        <button type="button" style="margin-right: 20px"  type="submit" [disabled]="isSaved"
          class="btn btn-success btn-md waves-effect waves-light">
          <i class="fa fa-check"></i>Save
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
          <i class="fa fa-close"></i>Cancel
        </button>
      </div>
         
      </form>
    
     
  </div>
</div>