table {
    width: 100%;
  }
  .mat-column-name {
    width: 25%;
  }
  .mat-column-module {
    width: 25%;
  }
  .mat-column-type {
    width: 15%;
  }
  .mat-column-startTime {
    width: 15%;
  }
  .mat-column-endTime {
    width: 15%;
  }
  .mat-column-actions {
    width: 10%;
  }