<div class="card">
  <div class="card-header">
    <h5 >Detail Module</h5>
   

  </div>
  <div class="card-block" style="margin: 1rem;">


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nom</label>
      <label class="col-sm-2 col-form-label">{{moduleDetail.name}}</label>
    </div>

    
    <div class="form-group row justify-content-center">

      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
        <i class="fa fa-close"></i>Cancel
      </button>
    </div>




  </div>
</div>