<div class="card">
  <div class="card-header">
    <h5><i class="fa fa-search" style="margin-right: 4px;"></i>{{ 'ACTION.SEARCH'  | translate}}</h5>

  </div>



  <div class="card-body">
    <form [formGroup]="progressionModuleForm">
      <div class="row" *ngIf="!isTeacher">

        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Module</label>
            <div class="col-sm-9">
              <select name="select" formControlName="module" class="form-control">
                <option value="" disabled selected>{{'COURSE.SELECT_MODULE'|translate}}</option>
                <option *ngFor="let module of listModule" [ngValue]="module">
                  {{module.name}}
                </option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group row justify-content-left">
            <button type="button" style="margin-right: 20px" (click)="search(false)"
              class="btn btn-success btn-md waves-effect waves-light">
              <i class="fa fa-search"></i>{{'ACTION.SEARCH' | translate}}
            </button>
            <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
              <i class="fa fa-close"></i>{{'ACTION.RESET' | translate}}
            </button>
          </div>
        </div>
      </div>
       <div class="row" *ngIf="isTeacher">
        <div class="col-sm-6">
          <div class="row"> <label class="col-sm-3 col-form-label"
              style="font-weight: bold;color: #757575;">{{'USER.EMAIL'|translate}}</label>
            <div class="col-sm-9">
              <input type="text" formControlName="email" class="form-control">

            </div>
          </div>

        </div>
       <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label"
              style="font-weight: bold;color: #757575;">{{'USER.FIRST_NAME'|translate}}</label>
            <div class="col-sm-9">
              <input type="text" formControlName="firstName" class="form-control">

            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
          <div class="row"> <label class="col-sm-3 col-form-label"
              style="font-weight: bold;color: #757575;">{{'USER.LAST_NAME'|translate}}</label>
            <div class="col-sm-9">
              <input type="text" formControlName="lastName" class="form-control">

            </div>
          </div>


        </div>
        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label"
              style="font-weight: bold;color: #757575;">{{'USER.GROUP'|translate}}</label>
            <div class="col-sm-9">
              <select name="select" [compareWith]="compareLevel" name="group" formControlName="group"
                class="form-control">
                <option value="" disabled selected>{{'USER.SELECT_GROUP'|translate}}</option>
                <option *ngFor="let group of listGroup" [ngValue]="group">
                  {{group.name}}
                </option>
              </select>

            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Module</label>
            <div class="col-sm-9">
              <select name="select" formControlName="module" class="form-control">
                <option value="" disabled selected>{{'COURSE.SELECT_MODULE'|translate}}</option>
                <option *ngFor="let module of listModule" [ngValue]="module">
                  {{module.name}}
                </option>
              </select>

            </div>
          </div>
        </div>
       

      </div> 
      <br>                
      <div class="row" *ngIf="isTeacher">
        <div class="col-lg-12 ">
            <div class="form-group row justify-content-center center-action">
                <button type="button" style="margin-right: 20px" (click)="search(false)"
                    class="btn btn-success btn-md waves-effect waves-light">
                    <i class="fa fa-search"></i>{{ 'ACTION.SEARCH'  | translate}}
                </button>
                <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
                    <i class="fa fa-close"></i>{{ 'ACTION.RESET'  | translate}}
                </button>
            </div>

        </div>
    </div> 
    </form>

  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5><i class="fa fa-list m-r-5"></i>{{'ACTION.LIST'|translate}}</h5>
  </div>

  <div class="card-body" style="overflow: auto">

    <table class="table-striped" mat-table [dataSource]="dataSource">

      <!-- Position Column -->

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element">{{(element?.student?.firstName.length+element?.student?.lastName.length)>80?((element?.student?.firstName+' '+element?.student?.lastName) | textWidth:80 ) +' ...' :(element?.student?.firstName+' '+element?.student?.lastName)}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Module </th>
        <td mat-cell *matCellDef="let element"> {{element.module.name}} </td>
      </ng-container>
      <ng-container matColumnDef="startCourse">
        <th mat-header-cell *matHeaderCellDef class="center-action"> {{'COURSE.START'|translate}} </th>
        <td mat-cell *matCellDef="let element" class="center-action">
          <div class="btn-group btn-group-sm">

            <button mat-icon-button (click)="openProgressionCour(element)">
              <span class="fa fa-play" style="color: #007bff"></span>
            </button>





          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="detailProgression">
        <th mat-header-cell *matHeaderCellDef class="center-action"> {{'COURSE.DETAIL_PROGRESSION'|translate}} </th>
        <td mat-cell *matCellDef="let element" class="center-action">
          <div class="btn-group btn-group-sm">

            <button mat-icon-button (click)="openProgressionCour(element)">
              <span class="fa fa-desktop" style="color: #007bff"></span>
            </button>





          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="cour">
        <th mat-header-cell *matHeaderCellDef class="center-action"> {{'COURSE.PROGRESSION'|translate}} </th>
        <td mat-cell *matCellDef="let element" class="center-action">

          {{element.progressionCour}} %

        </td>
      </ng-container>


      <ng-container matColumnDef="noteExam">
        <th mat-header-cell *matHeaderCellDef>{{'MODULE.EXAM_QUIZ_PROGRESSION'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.progressionExamQuiz}}% </td>
      </ng-container>
      <ng-container matColumnDef="absence">
        <th mat-header-cell *matHeaderCellDef>{{'MODULE.ABSENCE_PROGRESSION'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.progressionAbsence}}% </td>
      </ng-container>
      <ng-container matColumnDef="noteF">
        <th mat-header-cell *matHeaderCellDef> {{'EXAM.SCORE_FINAL'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.noteFinal!=null?getScore(element):'---'}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator (page)="refreshDataTable($event)" [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength"
      [pageSize]="5" showFirstLastButtons></mat-paginator>




  </div>
</div>