<div class="card">
  <div class="card-header">
    <h5><i class="fa fa-search" style="margin-right: 4px;"></i>{{ 'ACTION.SEARCH'  | translate}}</h5>
    
  </div>



  <div class="card-body">
    <form [formGroup]="progressionModuleForm">
      <div class="row">
        
        <div class="col-sm-6">
          <div class="row">
            <label class="col-sm-3 col-form-label" style="font-weight: bold;color: #757575;">Module</label>
            <div class="col-sm-9">
              <select name="select" formControlName="module" class="form-control">
               <option value="" disabled selected>{{'COURSE.SELECT_MODULE'|translate}}</option>
                <option *ngFor="let module of listModule" [ngValue]="module">
                  {{module.name}}
                </option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group row justify-content-left">
            <button type="button" style="margin-right: 20px" (click)="search(false)"
              class="btn btn-success btn-md waves-effect waves-light">
              <i class="fa fa-search"></i>{{'ACTION.SEARCH' | translate}}
            </button>
            <button type="button" (click)="reset()" class="btn btn-danger btn-md waves-effect waves-light">
              <i class="fa fa-close"></i>{{'ACTION.RESET' | translate}}
            </button>
          </div>
        </div>
      </div>
      

    </form>

  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5><i class="fa fa-list m-r-5"></i>{{'ACTION.LIST'|translate}}</h5>
  </div>

  <div class="card-body" style="overflow: auto">

    <table  class="table-striped" mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'MODULE.NAME'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.module.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="professeur">
        <th mat-header-cell *matHeaderCellDef> {{'MODULE.PROFESSOR'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.module.professor!=null?element.module.professor.firstName+' '+element.module.professor.lastName:'---'}} </td>
      </ng-container>
      <ng-container matColumnDef="cour">
        <th mat-header-cell *matHeaderCellDef> Courses (Progression) </th>
        <td  mat-cell *matCellDef="let element">
          <div class="btn-group btn-group-sm">

            <button mat-icon-button  (click)="openProgressionCour(element)">
              <span class="fa fa-play" style="color: #007bff"></span>
          </button>
            {{element.progressionCour}} %
            
        


          </div>
        </td>
      </ng-container>
     
      <ng-container matColumnDef="exam">
        <th mat-header-cell *matHeaderCellDef> Exams (Progression ) </th>
        <td  mat-cell *matCellDef="let element">
          <div class="btn-group btn-group-sm">

            <button mat-icon-button (click)="openExam(element)" >
              <span class="fa fa-play" style="color: #007bff"></span>
          </button>
           {{element.progressionExam}} %


          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="noteExam">
        <th mat-header-cell *matHeaderCellDef> Note Exam </th>
        <td mat-cell *matCellDef="let element">
          {{element.noteExam}}% </td>
      </ng-container>
      <ng-container matColumnDef="noteF">
        <th mat-header-cell *matHeaderCellDef> Note Final </th>
        <td mat-cell *matCellDef="let element">
          {{element.noteFinal!=null?element.noteFinal:'---'}} </td>
      </ng-container>


  


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator (page)="refreshDataTable($event)" [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength"
      [pageSize]="5" showFirstLastButtons></mat-paginator>




  </div>
</div>