<div class="card">
  <div class="alert"*ngIf="isExam">
    <strong style="color: red;font-size: 0.9rem;">NB : </strong>
    <strong style="color: #0073aa;font-size: 0.8rem; ">{{'EXERCICES.SCALE_INTERVAL'| translate}}</strong>

  </div>
  <div class="card-block" style="margin: 1rem;">

    <form [formGroup]="exercicesForm">
      <div class="form-group row" *ngIf="isExam">
        <label class="col-sm-2 col-form-label">{{'EXERCICES.SCALE'| translate}} <span style="margin-left:0.2rem;color: red">*</span><p class="f-right">
          :</p></label>
        <div class="col-sm-10">
          <input type="number" formControlName="scale" min="0" (input)="onWriteScale()" class="form-control">
          <div *ngIf="errormptyField('scale')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="exercicesForm.get('scale').errors?.min || exercicesForm.get('scale').errors?.max"
            style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="alert" *ngIf="isExam">
          <strong style="color: red;font-size: 0.9rem;">NB : </strong>
          <strong style="color: #0073aa;font-size: 0.8rem; ">{{'EXERCICES.MARKS_MESSAGE'| translate}} </strong>

        </div>
     

        <app-list-question [isExam]="isExam" [questions]="questionsValue"  (changeQuestions)="onChangeQuestion($event)" (changeNote)="onChangeNote($event)" (invalidQuestion)="onChangeInvalidQuestion($event)"></app-list-question>
        <div *ngIf="errormptyField('questions')" style="color:red">
          {{'ERRORS.EMPTY_FIELD' | translate}}</div>
      </div>
      <div class="form-group row" *ngIf="isExam">
        <label class="col-form-label">{{'EXERCICES.NOTE_QUESTION_SUM' |translate}}</label>
        <label class="col-form-label"
          [style.color]="sum!=0&& sum===exercicesForm.get('scale').value?'green':'red'">{{sum}}</label>

      </div>

    </form>



  </div>
</div>
<notifier-container></notifier-container>