<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Cour</ng-template>
      <p [innerHTML]="cour?.content"></p>


      <div class="f-right">
        <button class="btn btn-primary btn-md waves-effect waves-light" (click)="nextForm1(stepper)">Next<i
            class="fa fa-chevron-right" style="margin-left: 0.3rem;"></i></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Td</ng-template>
      <ng-container *ngFor="let td of tds">
        <app-td-or-quiz [tdOrQuiz]="td" [questionCorrectSuggestions]="questionCorrectSuggestions"
          [isPastTdorQuiz]="isPastTd" [questionCorrect]="questionCorrect"></app-td-or-quiz>


      </ng-container>
      <br>

      <button class="btn btn-success btn-md waves-effect waves-light f-left" (click)="validateTd()"
        style="margin-right: 15px">
        <i class="fa fa-check"></i>Validate </button>
      <div class="f-right">

        <button type="button" matStepperPrevious class="btn btn-warning btn-md waves-effect waves-light"
          style="margin-right: 15px"><i class="fa fa-chevron-left"></i>Back</button>

        <button class="btn btn-primary btn-md waves-effect waves-light" (click)="nextForm2(stepper)">Next<i
            class="fa fa-chevron-right" style="margin-left: 0.3rem;"></i></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Quiz</ng-template>
    <app-td-or-quiz [tdOrQuiz]="quiz" [questionCorrectSuggestions]="questionCorrectSuggestions"
      [isPastTdorQuiz]="isPastQuiz" [questionCorrect]="questionCorrect"></app-td-or-quiz>
    <button class="btn btn-success btn-md waves-effect waves-light f-left" (click)="validateQuiz()"
      style="margin-right: 15px">
      <i class="fa fa-check"></i>Validate </button>
    <div class="f-right">

      <button type="button" matStepperPrevious class="btn btn-warning btn-md waves-effect waves-light"
        style="margin-right: 15px"><i class="fa fa-chevron-left"></i>Back</button>

      <button class="btn btn-primary btn-md waves-effect waves-light" (click)="nextForm2(stepper)">Next<i
          class="fa fa-chevron-right" style="margin-left: 0.3rem;"></i></button>
    </div>
  </mat-step>
</mat-horizontal-stepper>