<div class="card">
  <div class="card-header">
    <h5 >Detail Question</h5>
   

  </div>
  <div class="card-block" style="margin: 1rem;">


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nom</label>
      <label class="col-sm-9 col-form-label">{{questionDetail?.name!=null?questionDetail.name:'---'}}</label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Code</label>
      <label class="col-sm-9 col-form-label">{{questionDetail?.code!=null?questionDetail.code:'---'}}</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">CorrectComment</label>
      <label class="col-sm-9 col-form-label">{{questionDetail?.correctComment!=null?questionDetail.correctComment:'---'}}</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Suggestions</label>
      <div class="col-sm-9" >
        <table *ngIf="questionDetail.suggestions!=null && questionDetail.suggestions.length>0; else noData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef> Content </th>
            <td mat-cell *matCellDef="let element" > {{element?.name.length>60?element.name.substring(0,60)+' ...':element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="correct">
            <th mat-header-cell *matHeaderCellDef> Correct </th>
            <td mat-cell *matCellDef="let element"> {{element?.correct?'Correct':'Not correct'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td class="center-action" mat-cell *matCellDef="let row">
              <div class="btn-group btn-group-sm">
                <button mat-icon-button>
                  <span class="fa fa-desktop" (click)="openDialogDetail(row)" style="color: #007bff"></span>
                </button>
              </div>
            </td>
          </ng-container>
        
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-template #noData>
          <label class="col-sm-9 col-form-label" >---</label>
        </ng-template>
        
      </div>
    </div>
    
    <div class="form-group row justify-content-center">
            
      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
        <i class="fa fa-close"></i>Cancel
      </button>
    </div>




  </div>
</div>
