<div class="card">
  <div class="card-header">
    <h5 >Detail Question</h5>
   

  </div>
  <div class="card-block" style="margin: 1rem;">


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Content</label>
      <label class="col-sm-9 col-form-label">{{suggestionDetail.name!=null?suggestionDetail.name:'---'}}</label>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Correct</label>
      <label class="col-sm-9 col-form-label">{{suggestionDetail.correct?'Correct':'Not correct'}}</label>
    </div>
    
    <div class="form-group row justify-content-center">
            
      <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
        <i class="fa fa-close"></i>Cancel
      </button>
    </div>




  </div>
</div>
