<div class="row">
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Mouse speed chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span id="mouse-speed"></span>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Custom line chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span class="custom-chart"></span>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Line Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span class="line-chart"></span>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Pie Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span class="pie-chart"></span>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Bar Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span class="bar-chart"></span>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Tri-State Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
      <span class="tri-state"></span>
    </app-card>
  </div>
</div>