<div class="card">
  <div class="card-header">
    <h5 *ngIf="isEdit">{{'ACTION.UPDATE'|translate}}</h5>
    <h5 *ngIf="!isEdit">{{'ACTION.ADD'|translate}}</h5>

  </div>
  <div class="card-block" style="margin: 1rem;">

    <form [formGroup]="userForm" (ngSubmit)="save()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.EMAIL'|translate}}<span
          style="color: red">*</span></label>
        <div class="col-sm-10">
          <input type="text" maxlength="30" formControlName="email" class="form-control">
          <div *ngIf="errormptyField('email')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="userForm.get('email').errors?.pattern" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.FIRST_NAME'|translate}}<span
          style="color: red">*</span></label>
        <div class="col-sm-10">
          <input type="text" maxlength="30" formControlName="firstName" class="form-control">
          <div *ngIf="errormptyField('firstName')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="invalidData('firstName')" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.LAST_NAME'|translate}}<span
          style="color: red">*</span></label>
        <div class="col-sm-10">
          <input type="text" maxlength="30" formControlName="lastName" class="form-control">
          <div *ngIf="errormptyField('lastName')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="invalidData('lastName')" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.PHONE'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" maxlength="30" formControlName="phone" class="form-control">
          <div *ngIf="errormptyField('phone')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          <div *ngIf="userForm.get('phone').errors?.pattern" style="color:red">
            {{'ERRORS.INVALID_DATA' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.ORGANIZATION'|translate}}<span
          style="color: red">*</span></label>
        <div class="col-sm-10">
          <select name="select" [compareWith]="compareLevel" name="organization" formControlName="organization"
            class="form-control" (change)="onSelectOgra()">
            <option value="opt1">{{'USER.SELECT_ORGANIZATION'|translate}}</option>
            <option *ngFor="let organization of listOrganization" [ngValue]="organization">
              {{organization.name}}
            </option>
          </select>
          <div *ngIf="errormptyField('organization')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
        
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'USER.ROLE'|translate}}<span
          style="color: red">*</span></label>
        <div class="col-sm-10">
          <select name="select" [compareWith]="compareLevel" name="role" formControlName="role" class="form-control"
            (change)="onSelectRole()">
            <option value="opt1">{{'USER.SELECT_ROLE'|translate}}</option>
            <option *ngFor="let role of listRole" [ngValue]="role">
              {{role.name}}
            </option>
          </select>
          <div *ngIf="errormptyField('role')" style="color:red">
            {{'ERRORS.EMPTY_FIELD' | translate}}</div>
        </div>
      </div>
      <div *ngIf="isStudent">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{'USER.LEVEL'|translate}}<span
            style="color: red">*</span></label>
          <div class="col-sm-10">
            <select name="select" [compareWith]="compareLevel" name="level" formControlName="level"
              class="form-control">
              <option value="opt1">{{'USER.SELECT_LEVEL'|translate}}</option>
              <option *ngFor="let level of listLevel" [ngValue]="level">
                {{level.name}}
              </option>
            </select>
            <div *ngIf="errormptyField('level')" style="color:red">
              {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{'USER.BRANCH'|translate}}<span
            style="color: red">*</span></label>
          <div class="col-sm-10">
            <select name="select" [compareWith]="compareBranch" name="branch" formControlName="branch"
              class="form-control">
              <option value="opt1">{{'USER.SELECT_BRANCH'|translate}}</option>
              <option *ngFor="let branch of listBranch" [ngValue]="branch">
                {{branch.name}}
              </option>
            </select>
            <div *ngIf="errormptyField('level')" style="color:red">
              {{'ERRORS.EMPTY_FIELD' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <button type="button" style="margin-right: 20px" type="submit" [disabled]="isSaved"
          class="btn btn-success btn-md waves-effect waves-light">
          <i class="fa fa-check"></i>{{'ACTION.SAVE'| translate}}
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger btn-md waves-effect waves-light">
          <i class="fa fa-close"></i>{{'ACTION.CANCEL'| translate}}
        </button>
      </div>

    </form>


  </div>
</div>
<notifier-container></notifier-container>

