<div>
  <button type="button" class="btn btn-danger btn-md waves-effect waves-light f-right" (click)="cancel()"> <i
    class="fa fa-close"></i> {{ 'ACTION.CANCEL' | translate}}
</button>
  <h4 class="center-action">{{exam?.name}} <span style="color:red">({{score}}/{{scale}})</span></h4>

</div>

<h5 class="center-action"></h5>
<div class="form-group ">

  <mat-checkbox class="example-margin" [(ngModel)]="isShow">{{'QUESTION.SHOW_RESPONSES'|translate}}</mat-checkbox>

</div>
<ng-container *ngFor="let question of exam?.questions; let i = index">
  <p> <strong style="font-size: 0.95rem;">{{i+1}} - {{question.name}} </strong><strong
      style="color: red;">({{question.note}} point(s))</strong>
  </p>
  <ng-container *ngFor="let suggestion of question.suggestions">
    <div class="row">
      <div class="col-sm-1 center-action">

      </div>
      <p class="col-sm-11"> <strong style="font-size: 0.8rem;"> {{suggestion.name}}</strong>
        <span *ngIf="isShow && suggestion.correct " class="fa fa-check"
          style="color: green;font-size: 1rem;margin-left: 0.5rem;"></span>
        <span *ngIf="containsSuggestions(suggestion)" class="fa fa-check"
          style="color:#007bff;font-size: 1rem;margin-left: 0.5rem;"></span>
      </p>
    </div>
  </ng-container>
  <div *ngIf="isShow">

    <p> <strong style="color: green;">{{'QUESTION.CORRECT_COMMENT'|translate}} :</strong> <strong
        style="font-size: 0.8rem;">
        {{question.correctComment}}</strong></p>
  </div>
</ng-container>